.container{
    display: flex;
    justify-content: space-between;
}

div{
    border: solid 2px black;
    background-color: rgb(43, 180, 226);
    flex-direction: column;
    height: 100vh;
}

.div1{
    width: 300px;
    
}
.div2{
    flex-grow: 1;

}