span{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: relative;
}

#div1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: aqua;
}

#div2{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: yellow;
}

#div3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: coral;
}

#div4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: purple;
}