.container{
    display: flex;
    justify-content: space-between;
}

div{
    border: solid 2px black;
    background-color: rgb(229, 110, 200);
    flex-direction: column;
    height: 100vh;
}

.div1{
    width: 25%;
   
}
.div2{
    flex-grow: 1;
  
}
.div3{
    width: 25%;
}